html{
	font-size: 16px;
}

body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	width: 100%;
    background-attachment: fixed;
    background-position: 100px;
}

#logotipo{
	background: #339DC5;
	color: white;
}

#catalogo{
	background: #339DC5;
	border-radius: 15px;
	color:white;
	position: center;
}

#imagenes-catalogo {
	border-radius: 15px;
}

#lado-isquierdo {
	background-color: white;
}

#lado-derecho {
	background-color: white;
}

.social-bar {
	/*position: fixed;*/
	/*left: 0;*/
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;

}
.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;

}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}